
.mapDiv{
    height: 50vh;
}
#map{
    height:100%;
}
h1{
    text-align: left;
}
nav{
    height: 80px;
    width: auto;
    background-color: white;
}
.info{
    font-size: 18px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.info span:first-child{
    font-size: 16px;
}
.info span:last-child{
    font-size: 14px;
}
.fas.fa-home{
    font-size: 25px;
}
.fas.fa-child{
    font-size: 25px;
}
.fa-wallet{
    font-size: 25px;
}
.fas.fa-dot-circle{
    font-size: 25px;
}
select{
    height: 35px;
    width: 70px;
    border-radius: 20px;
    margin: 15px;
}
.price{
    padding-left: 230px;
    display: inline-block;
}
.otherItems{
    background-color: rgb(246, 246, 246);
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    margin: auto;
}
.otherItems input{
    margin-left: 90px;
}

.order{
    background-color: rgb(175, 175, 175);
    border: 0px;
    width:auto;
    margin: auto;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    display:flex; 
}
.orderBtn{
    border: 0px;
    background-color: rgb(175, 175, 175);
    width: auto;
    color: white;
    text-align: center;
    display: flex;
    height: 50px;

    
}
.orderSpan{
    line-height: 50px;
    font-size: 14px;
}
.addOrderBtn{
    background-color: rgb(238, 238, 238);
    height: 35px;
    border: 0px;
}
.addOrderDiv{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.editBtn{
    background-color: rgb(238, 238, 238);
    width: 60px;
    height: 36px;
    border: 0px;
    
}
.orderContentBtn{
    text-align: left;
}
.orderContent{
    justify-content: space-between;
}
li{
    list-style: none;
    padding: 7px;
}
footer{
    height: 50px;
    background-color: black;
}
.save{
    background-color: rgb(230, 242, 237);
}
.save p{
    color: rgb(5, 148, 79);
    font-size: 14px;
    text-align: center;
}
.rule span{
    color: rgb(5, 148, 79);
}
.iconDiv{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 20px;
}
.deliverTime{
    border-top: rgb(238, 238, 238)solid 2px;
    justify-content: space-between;
    padding-top: 20px;
}

.deliverTime span{
    font-size: 18px;
    
}
.setPavementTitle{
    padding-top: 20px;
    border-top: rgb(238, 238, 238)solid 2px;
}
.setPavementDiv span{
    font-size: 16px;
}
.setPavementDiv{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: rgb(238, 238, 238)solid 2px;
}


