<div id="discountA">
    <div class="text-left">
        <h4 class="text-gray-800">優惠券管理</h4>
        <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    </div>

    <b-card no-body>
        <b-tabs v-model="tabIndex" small card fill>
            @*啟用的優惠券*@
            <b-tab title="目前的優惠券" title-item-class="none-click">
                <ol class="breadcrumb" style="background-color:transparent">
                    <li class="breadcrumb-item">
                        <a class="linkPage" href="/Home/Index" style="text-decoration-line:none ; color:black">首頁</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <span aria-current="location">優惠券</span>
                    </li>
                </ol>

                <div id="vue-promocodeList" v-cloak>
                    <b-row>
                        <b-col lg="9" class="my-1">
                            <b-button v-b-modal.modal-create variant="success">
                                <b-icon icon="plus-square" aria-hidden="true"></b-icon>
                                新增優惠
                            </b-button>
                        </b-col>

                        <b-col lg="3" class="my-1">
                            <b-form-group class="my-4 mb-0" label="關鍵字搜尋" label-for="filter-input" label-cols-sm="3" label-align-sm="right" label-size="sm">
                                <b-input-group size="sm">
                                    <b-form-input id="filter-input" v-model="filter" type="search" placeholder="請輸入關鍵字"> </b-form-input>

                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </div>
                <b-table :busy="isBusy" :fields="fields" :items="effectiveItems"
                         :per-page="perPage" :current-page="currentPage" :filter="filter">
                    <!--讀取頁面的轉圈圈 -->
                    <template #table-busy>
                        <div class="text-center text-danger my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                    </template>

                    <template #cell(Action)="row">
                        <b-button size="sm" class="mr-1" v-on:click="info(row.item, row.index, $event.target)">優惠明細</b-button>
                        @*<b-button size="sm" v-on:click="deleteDiscount(row.item, row.index, $event.target)">刪除優惠</b-button>*@
                    </template>
                </b-table>
                <b-pagination v-model="currentPage" :total-rows="totalRowsNow"
                              :per-page="perPage" align="fill" size="md" class="my-0">
                </b-pagination>
            </b-tab>

            @*結束的優惠券*@
            <b-tab title="過期的優惠券" title-item-class="none-click">
                <b-row>
                    <b-col lg="9" class="my-1">
                    </b-col>
                    <b-col lg="3" class="my-1">
                        <b-form-group class="my-4" label="關鍵字搜尋" label-for="filter-input" label-cols-sm="3" label-align-sm="right" label-size="sm">
                            <b-input-group size="sm">
                                <b-form-input id="filter-input" v-model="filter" type="search" placeholder="請輸入關鍵字"> </b-form-input>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>

                <b-table :busy="isBusy" :fields="fields" :items="invalidItems"
                         :per-page="perPage" :current-page="currentPage" :filter="filter">

                    <!--讀取頁面的轉圈圈 -->
                    <template #table-busy>
                        <div class="text-center text-danger my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                    </template>

                    <template #cell(Action)="row">
                        <b-button size="sm" class="mr-1" v-on:click="info(row.item, row.index, $event.target)">優惠明細</b-button>
                        @*<b-button size="sm" v-on:click="deleteDiscount">刪除優惠</b-button>*@
                    </template>
                </b-table>

                <b-pagination v-model="currentPage" :total-rows="totalRowsPast"
                              :per-page="perPage" align="fill" size="md" class="my-0">
                </b-pagination>
            </b-tab>

    </b-card>

    <!-- 明細modal -->
    <b-modal :id="infoModal.id" :title="infoModal.title" ok-only v-on="resetInfoModal">
        <div class="d-flex">
            <h4 class="col-12 title ">優惠名稱：{{discountList.discountCode}}</h4>
        </div>
        <div class="d-flex">
            <h4 class="col-12 title ">優惠內容：{{discountList.displayName}}</h4>
        </div>
        <div class="d-flex">
            <h4 class="col-12 title ">優惠折數/價錢：{{discountList.amount}}</h4>
        </div>
        <div class="d-flex">
            <h4 class="col-12 title ">開始時間：{{discountList.startTime}}</h4>
        </div>
        <div class="d-flex">
            <h4 class="col-12 title ">結束時間：{{discountList.endTime}}</h4>
        </div>

    </b-modal>
    <!-- 新增modal -->
    <b-modal id="modal-create"
             ref="my-modal"
             size="lg"
             title="新增優惠券">


        <b-form-group label="優惠名稱"
                      label-for="discountInputId"
                      :invalid-feedback="stateIdFeedback"
                      :state="stateId">
            <input id="discountInputId" v-model="createDiscountData.id" type="text" class="form-control" state="stateId">
            <div class="text-danger small mt-1"></div>
        </b-form-group>

        <b-form-group label="優惠內容"
                      label-for="discountInputName "
                      :invalid-feedback="stateNameFeedback"
                      :state="stateName">
            <input id="discountInputName" v-model="createDiscountData.name" type="text" class="form-control" state="stateName">
            <div class="text-danger small mt-1"></div>
        </b-form-group>


        <div>
            @*<b-form-group label="是否用於全餐廳">
                    <b-form-radio-group v-model="selected"
                                        name="radio-validation1"
                                        :options="optionsResaurant"
                                        :state="stateResturant">
                        <b-form-invalid-feedback :state="stateResturant">請選擇是否用於全餐廳</b-form-invalid-feedback>
                        <b-form-valid-feedback :state="stateResturant">謝謝您</b-form-valid-feedback>
                        <b-form-radio id="allrestaurantRadio",v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="是" state="stateResaurant">是</b-form-radio>
                        <b-form-radio id="allrestaurantRadio", v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="否" state="stateResaurant">否</b-form-radio>
                    </b-form-radio-group>
                </b-form-group>*@

            @*<div class="mt-3">Selected: <strong>{{ selected }}</strong></div>*@
        </div>

        <div>
            <b-form-group label="優惠券總額">
                <b-form-radio-group v-model="selectedDiscount"
                                    name="radio-validation2"
                                    :options="optionsDiscount"
                                    :state="stateDiscount">
                    @*<b-form-invalid-feedback :state="stateDiscount">請選擇優惠方式</b-form-invalid-feedback>
                        <b-form-valid-feedback :state="stateDiscount">感恩</b-form-valid-feedback>*@
                    @*<b-form-radio id="allrestaurantRadio",v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="是" state="stateResaurant">是</b-form-radio>
                        <b-form-radio id="allrestaurantRadio", v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="否" state="stateResaurant">否</b-form-radio>*@
                </b-form-radio-group>
            </b-form-group>

            @*<div class="mt-3">Selected: <strong>{{ selected }}</strong></div>*@
        </div>






        <b-form-select v-if="selectedDiscount == 1" v-model="selectedAmountA" :options="optionsA"></b-form-select>
        @*<div class="mt-3">Selected: <strong>{{ selectedAmountA }}</strong></div>*@
        <b-form-select v-if="selectedDiscount == 2" v-model="selectedAmountB" :options="optionsB" class="mt-3"></b-form-select>
        @*<div class="mt-3">Selected: <strong>{{ selectedAmountB }}</strong></div>*@


        @*<div>
                <label for="start-datepicker">開始時間</label>
                <b-form-datepicker id="start-datepicker" v-model="currentDiscount.StartTime" class="mb-2"></b-form-datepicker>
                <p>Value: '{{ valueStart }}'</p>
            </div>
            <div>
                <label for="end-datepicker">結束時間</label>
                <b-form-datepicker id="end-datepicker" v-model="valueEnd" class="mb-2"></b-form-datepicker>
                <p>Value: '{{ valueEnd }}'</p>
            </div>*@

        <b-form-group label="選擇優惠開始日期">
            <el-date-picker v-model="currentDiscount.StartTime"
                            class="dateClass"
                            type="date"
                            placeholder="請選擇開始日期"
                            :picker-options="setDisabled">
            </el-date-picker>
        </b-form-group>

        <b-form-group label="選擇優惠結束日期"
                      invalid-feedback="結束時間不能小於開始時間"
                      :state="startTime">

            <el-date-picker v-model="currentDiscount.EndTime"
                            placeholder="請選擇結束日期"
                            type="date"
                            :picker-options="setDisabledEnd">
            </el-date-picker>
        </b-form-group>




        <div class="d-flex justify-content-end mt-3 ">

            <b-button class="mx-2 " aria-label="Close" v-on:click="$bvModal.hide('modal-create')">Cancel</b-button>

            <button v-on:click="createDiscount" type="button" class="btn btn-primary" variant="success">OK</button>
            @*<b-button v-on:click="createDiscount" variant="success">OK</b-button>*@
        </div>

    </b-modal>



</div>
@section topJs{
    <script src="~/js/Common.js"></script>
    <script src="~/js/statecheck.js"></script>
    <script>
        if (localStorage.getItem('accessToken') == null) {
            window.location.href = '/login/index';
        }
    </script>
}
@section endJs{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/js/Controller/DiscountA/discountA.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.6/index.js" integrity="sha512-LauVuWv8zJ94BpUEsAatwZhTGDHFPIGyO40FFjQo8KZr7v59RmRS5xQsvphBnjbTJ7IKsk3TwloF3p+TY+BdPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}
@section endCss{
    <style>
        .modal-footer {
            display: none
        }
    </style>
}

