<div id="productlist" v-cloak>
    <div class="row">
        @*<div class="col-12">
                <template>
                    <b-breadcrumb :items="breadCrumbItems"></b-breadcrumb>
                </template>
            </div>*@
        <div class="col-12">
            <b-tabs content-class="pt-2 pb-2 px-2" fill v-model="tabIndex">
                <b-tab active>
                    <template #title>
                        <b-icon icon="arrow-up-square-fill" aria-hidden="true"></b-icon>
                        <strong>目前餐點</strong>
                    </template>
                    <b-row>
                        <b-col lg="8" class="my-1">
                            <b-button-group>
                                <b-button variant="success" v-on:click="newInfo($event.target)">
                                    <b-icon icon="plus-square" aria-hidden="true"></b-icon>
                                    新增餐點
                                </b-button>
                            </b-button-group>
                        </b-col>
                        <b-col lg="4" class="my-1">
                            <b-form-group label="關鍵字搜尋" label-for="filter-input" label-cols-sm="4"
                                          label-align-sm="right" label-size="sm" class="mb-0">
                                <b-input-group size="sm">
                                    <b-form-input id="filter-input" v-model="filter" type="search"
                                                  placeholder="請輸入關鍵字">
                                    </b-form-input>
                                    <b-input-group-append>
                                        <b-button :disabled="!filter" v-on:click="filter = ''">
                                            Clear
                                        </b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <!-- Main table element -->
                    <b-table v-if="tabIndex==0" :items="items" :fields="fields"
                             :filter="filter"
                             :filter-included-fields="filterOn" :sort-by.sync="sortBy"
                             :sort-desc.sync="sortDesc" responsive="sm" :sort-direction="sortDirection"
                             stacked="md" show-empty small :busy="isOnSaleBusy.PageBusy"
                             v-on:filtered="onFiltered">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>

                        <template #cell(productImg)="row">
                            <b-img-lazy v-bind="simplifyproductimgProps" class="pdlistimg"
                                        :src="row.item.productImg" thumbnail></b-img-lazy>
                        </template>

                        <template #cell(actions)="row">
                            <b-button variant="info" size="sm"
                                      v-on:click="info(row.item, row.index, $event.target)" class="mr-1">
                                餐點明細
                            </b-button>
                            <b-button size="sm"
                                      v-on:click="ShowUpdateSaleConfirm(row.item.productId,SalesConfirmBoxProps.nonSale)"
                                      class="mr-1">
                                下架餐點
                            </b-button>
                        </template>
                    </b-table>
                    <b-row class=" mb-5 pb-5">
                        <b-col lg="6" class="ml-auto">
                            <b-pagination v-model="currentPage" :total-rows="totalRows"
                                          :per-page="perPage" align="fill" size="md" class="my-0">
                            </b-pagination>
                        </b-col>
                        <b-col lg="3" class="my-1">
                            <b-form-group label="每頁顯示筆數" label-for="per-page-select"
                                          label-cols-sm="3" label-cols-lg="9" content-cols="3"
                                          label-align-sm="right" label-size="sm" class="mb-0">
                                <b-form-select id="per-page-select" v-model="perPage"
                                               :options="pageOptions" size="sm"></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>


                    <!-- 編輯餐點Modal-->
                    <b-modal :id="productOptionsModel.id" :title="productOptionsModel.title" header-bg-variant="info"
                             header-text-variant="light" hide-footer size="lg"
                             v-on:hidden="resetProductOptionsModel" scrollable>
                        <!-- <template #default> -->
                        <div v-if="isOnSaleBusy.DetailsBusy"
                             class="busy text-center text-danger my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                        <!-- 餐點明細 -->
                        <div class="details-body" v-if="!isOnSaleBusy.DetailsBusy">
                            <div class="col-12 custom-control custom-switch py-1 text-end" v-if="enableEdit">
                                <button v-if="productOptionsModel.title == ''" class="btn btn-success" v-on:click="CreateProduct">建立</button>
                                <button v-else class="btn btn-success" v-on:click="ProductModify(productOptionsModel.item)">更新</button>

                                <button class="btn btn-secondary" v-on:click="CancleModify(productOptionsModel.item)">取消</button>
                            </div>
                            <div class="row">
                                <!-- 餐廳名稱 -->
                                <div class="col-12 mb-3">
                                    <label>餐廳名稱</label>
                                    <input readonly v-model="productOptionsModel.item['storeName']" type="text" class="form-control">
                                </div>
                                <!-- 餐點名稱 -->
                                <div class="col-12 mb-3">
                                    <label>餐點名稱</label>
                                    <span class="text-danger small mt-1">
                                        {{ createProduct.productInfoCheck.productNameErrorMsg }}
                                    </span>
                                    <input v-model="productOptionsModel.item['productName']" :readonly="!enableEdit"
                                           :class="{ 'is-invalid': createProduct.productInfoCheck.productNameError }" type="text" class="form-control">
                                </div>
                                <!-- 餐點類別 -->
                                <div class="col-12 col-md-6 mb-3">
                                    <label>餐點類別</label>
                                    <span class="text-danger small mt-1">
                                        {{ createProduct.productInfoCheck.productCategoryNameErrorMsg }}
                                    </span>
                                    <b-form-select v-model="productOptionsModel.item['productCategoryName']" :disabled="!enableEdit" :class="{ 'is-invalid': createProduct.productInfoCheck.productCategoryNameError }" :options="productCateOptions"></b-form-select>
                                </div>
                                <!-- 餐點價格 -->
                                <div class="col-12 col-md-6 mb-3">
                                    <label>餐點價格</label>
                                    <span class="text-danger small mt-1">
                                        {{ createProduct.productInfoCheck.unitPriceErrorMsg }}
                                    </span>
                                    <input v-model="productOptionsModel.item['unitPrice']" :readonly="!enableEdit"
                                           :class="{ 'is-invalid': createProduct.productInfoCheck.unitPriceError }" type="number" class="form-control">
                                </div>
                                <!-- 餐點描述 -->
                                <div class="col-12 mb-3">
                                    <label>餐點描述(選填)</label>
                                    <input v-model="(productOptionsModel.item['productDescription'])==null?'無':productOptionsModel.item['productDescription']" :readonly="!enableEdit" type="text" class="form-control">
                                </div>
                                <!-- 餐點圖片 -->
                                <div class="col-12 mb-3">
                                    <label for="keywordForm">餐點圖片(選填)</label>
                                    <div id="imgProShow" class="mb-3">
                                        <i v-if="productOptionsModel.item['productImg'] == ''" class="fas fa-images"></i>
                                        <img v-else="productOptionsModel.item['productImg'] != ''" :src="productOptionsModel.item['productImg']" />
                                    </div>
                                    <input class="sendProPic d-none" type="file" />
                                    <button v-if="enableEdit" class="btn w-100 btn-dark py-2 rounded" v-on:click="submitPic('sendProPic')">上傳商品圖片</button>
                                </div>
                            </div>
                            <div class="row">
                                <b-button variant="success" v-b-modal.modal-2 class="w-25 mb-2" v-if="enableEdit">
                                    <b-icon icon="plus-square" aria-hidden="true"></b-icon>
                                    新增規格
                                </b-button>
                                <!-- 餐點細項table -->
                                <b-table :items="productDetailsModel.item" :fields="productDetailsModel.fields"
                                         :filter="filter" :filter-included-fields="filterOn" :sort-by.sync="sortBy"
                                         :sort-desc.sync="sortDesc" responsive="sm" :sort-direction="sortDirection"
                                         stacked="md" show-empty small :busy="isOnSaleBusy.PageBusy"
                                         v-on:filtered="onFiltered">
                                    <template #table-busy>
                                        <div class="text-center text-danger my-2">
                                            <b-spinner class="align-middle"></b-spinner>
                                            <strong>Loading...</strong>
                                        </div>
                                    </template>
                                    <template #cell(actions)="row">
                                        <b-button variant="success" size="sm"
                                                  v-on:click="DeleteOptions(row.item, row.index)"
                                                  class="mr-1">
                                            刪除規格
                                        </b-button>
                                    </template>
                                </b-table>
                            </div>
                            <template #modal-footer="{ ok, cancel }">
                                <!-- Emulate built in modal footer ok and cancel button actions -->
                                <b-button variant="success" v-on:click="AddOptions">
                                    OK
                                </b-button>
                                <b-button variant="secondary" v-on:click="Cancle">
                                    Cancel
                                </b-button>
                            </template>
                        </div>
                    </b-modal>

                    <!-- 規格新增Modal -->
                    <b-modal id="modal-2">
                        <!-- 規格名稱 -->
                        <div class="col-12 mb-3">
                            <label>規格名稱(ex:尺寸)</label>
                            <span class="text-danger small mt-1">
                                {{ createOption.optionInfoCheck.productOptionNameErrorMsg }}
                            </span>
                            <b-form-select v-model="createOption.optionInfo.productOptionName" :class="{ 'is-invalid': createOption.optionInfoCheck.productOptionNameError }" :options="productOptions"></b-form-select>
                        </div>
                        <!-- 選項名稱 -->
                        <div class="col-12 mb-3">
                            <label>選項名稱(ex:大杯)</label>
                            <span class="text-danger small mt-1">
                                {{ createOption.optionInfoCheck.productOptionDetailNameErrorMsg }}
                            </span>
                            <input v-model="createOption.optionInfo.productOptionDetailName"
                                   :class="{ 'is-invalid': createOption.optionInfoCheck.productOptionDetailNameError }" type="text" class="form-control">
                        </div>
                        <!-- 加購價 -->
                        <div class="col-12 mb-3">
                            <label>加購價</label>
                            <span class="text-danger small mt-1">
                                {{ createOption.optionInfoCheck.addPriceErrorMsg }}
                            </span>
                            <input v-model="createOption.optionInfo.addPrice"
                                   :class="{ 'is-invalid': createOption.optionInfoCheck.addPriceError }" type="number" class="form-control">
                        </div>

                        <template #modal-footer="{ ok, cancel }">
                            <!-- Emulate built in modal footer ok and cancel button actions -->
                            <b-button variant="success" v-on:click="AddOptions">
                                OK
                            </b-button>
                            <b-button variant="secondary" v-on:click="Cancle">
                                Cancel
                            </b-button>
                        </template>
                    </b-modal>
                </b-tab>




                <!-- 下架餐點 -->
                <b-tab>
                    <template #title>
                        <b-icon icon="arrow-down-square-fill" aria-hidden="true"></b-icon>
                        <strong>下架餐點</strong>
                    </template>
                    <b-row>
                        <b-col lg="8" class="my-1">
                        </b-col>
                        <b-col lg="4" class="my-1">
                            <b-form-group label="關鍵字搜尋" label-for="filter-input" label-cols-sm="4"
                                          label-align-sm="right" label-size="sm" class="mb-0">
                                <b-input-group size="sm">
                                    <b-form-input id="filter-input" v-model="filter" type="search"
                                                  placeholder="請輸入關鍵字"></b-form-input>
                                    <b-input-group-append>
                                        <b-button :disabled="!filter" v-on:click="filter = ''">
                                            Clear
                                        </b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>

                        </b-col>
                    </b-row>
                    <!-- Main table element -->
                    <b-table v-if="tabIndex==1" :items="items" :fields="fields" :filter="filter"
                             :filter-included-fields="filterOn" :sort-by.sync="sortBy"
                             :sort-desc.sync="sortDesc" responsive="sm" :sort-direction="sortDirection"
                             stacked="md" show-empty small :busy="isNonSaleBusy.PageBusy"
                             v-on:filtered="onFiltered">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>

                        <template #cell(productImg)="row">
                            <b-img-lazy v-bind="simplifyproductimgProps" class="pdlistimg"
                                        :src="row.item.productImg" thumbnail></b-img-lazy>
                        </template>

                        <template #cell(actions)="row">
                            <b-button variant="primary" size="sm" v-on:click="info(row.item, row.index, $event.target)" class="mr-1">
                                餐點編輯
                            </b-button>
                            <b-button variant="success" size="sm"
                                      v-on:click="ShowUpdateSaleConfirm(row.item.productId,SalesConfirmBoxProps.onSale)"
                                      class="mr-1">
                                餐點上架
                            </b-button>
                        </template>
                    </b-table>
                    <b-row class="mb-5 pb-5">
                        <b-col lg="6" class="ml-auto">
                            <b-pagination v-model="currentPage" :total-rows="totalRows"
                                          :per-page="perPage" align="fill" size="md" class="my-0">
                            </b-pagination>
                        </b-col>
                        <b-col lg="3" class="my-1">
                            <b-form-group label="每頁顯示筆數" label-for="per-page-select"
                                          label-cols-sm="3" label-cols-lg="9" content-cols="3"
                                          label-align-sm="right" label-size="sm" class="mb-0">
                                <b-form-select id="per-page-select" v-model="perPage"
                                               :options="pageOptions" size="sm"></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-tab>
            </b-tabs>

            <!-- 確認餐廳 -->
            <b-modal id="modal-multi-1" title="餐點名稱" no-stacking>
                <!-- 餐廳名稱 -->
                <div class="col-12 mb-3">
                    <label>輸入完整餐廳名稱</label>
                    <span class="text-danger small mt-1">
                        {{ restaurant.restaurantInfoCheck.restaurantNameErrorMsg }}
                    </span>
                    <input v-model="restaurant.restaurantInfo.restaurantName"
                           :class="{ 'is-invalid': restaurant.restaurantInfoCheck.restaurantNameError }" type="text" class="form-control">
                </div>

                <template #modal-footer="{ ok, cancel }">
                    <!-- Emulate built in modal footer ok and cancel button actions -->
                    <b-button variant="success" v-on:click="SearchStore">
                        OK
                    </b-button>
                    <b-button variant="secondary" v-on:click="Cancle">
                        Cancel
                    </b-button>
                </template>
            </b-modal>
        </div>
    </div>
</div>


@section topCss{
    <link href="~/css/Controller/Store/productList.css" rel="stylesheet" />
}
@section endJs{
    <script src="~/js/Controller/Store/productList.js"></script>
}