<div id="order">
    <b-card no-body>
        <b-tabs v-model="tabIndex" small card fill>
            <!-- 待出餐訂單 -->
            <b-tab title="待出餐訂單" title-item-class="none-click">
                <b-row>
                    <b-col lg="3" class="my-1">
                        <b-form-group label="關鍵字搜尋" label-for="filter-input" label-cols-sm="4"
                                      label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <b-form-input id="filter-input" v-model="filter" type="search"
                                              placeholder="請輸入關鍵字"></b-form-input>

                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-card>

                    <b-table hover :busy="isBusy" :items="preparingItems" :fields="preparingFields" :per-page="preparingPerPage" :current-page="preparingCurrentPage" :filter="filter">
                        <!-- 讀取時的轉圈 -->
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                        <!-- v-slot:cell -->
                        <template #cell(orderStatus)="row">
                            <b-form-select v-model="row.item.orderStatus" :options="preparingOptions" v-on:change="row.item.notCheck = false"></b-form-select>
                        </template>
                        <template #cell(updateStatus)="row">
                            <b-button size="sm" class="mr-1" v-on:click="updateOrderStatus(row.item)" :disabled="row.item.notCheck">確認</b-button>
                        </template>
                        <template #cell(Action)="row">
                            <b-button size="sm" class="mr-1" v-on:click="preparingOrderInfo(row.item, row.index, $event.target)">訂單資訊</b-button>
                            <b-button size="sm" v-on:click="row.toggleDetails ">{{row.detailShoing ? 'Hide' : ''}} 商品明細</b-button>
                        </template>
                        <!-- 商品明細 -->
                        <template #row-details="row">
                            <b-card class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6 title">是否要餐具:{{row.item.istableWares ? '要':'不要'}}</div>
                                    <div class="col-12 col-md-6 title">是否要塑膠袋:{{row.item.isPlasticbag ? '要':'不要'}}</div>
                                    <div class="col-12 title">備註:{{row.item.note}}</div>
                                    <div class="col-12 col-md-6 title">訂購餐點：</div>
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th>餐點名稱</th>
                                                <th>餐點數量</th>
                                                <th>客製化</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="product in row.item.orderDetailResponses">
                                                <td class="align-middle">{{product.productName}}</td>
                                                <td class="align-middle">{{product.quantity}}</td>
                                                <td v-if="!product.orderDetailOptionResponses" class="align-middle">
                                                    <div>無</div>
                                                </td>
                                                <td v-else class="align-middle">
                                                    <div v-for="productDetail in product.orderDetailOptionResponses">
                                                        {{productDetail.productOptionDetailName}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </b-card>
                        </template>
                    </b-table>
                </b-card>
                <div class="form-group form-check d-flex justify-content-center mt-3">
                </div>
                @* 頁碼 *@
                <b-pagination v-model="preparingCurrentPage" :total-rows="preparingTotalRows" :per-page="preparingPerPage" align="fill" size="md" class="my-0">
                </b-pagination>
            </b-tab>
            <!-- 歷史訂單 -->
            <b-tab title="歷史訂單" title-item-class="none-click">
                <b-row>
                    <b-col lg="3" class="my-1">
                        <b-form-group label="關鍵字搜尋" label-for="filter-input" label-cols-sm="4"
                                      label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <b-form-input id="filter-input" v-model="filter" type="search"
                                              placeholder="請輸入關鍵字"></b-form-input>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-card>
                    <b-table striped hover :busy="isBusy" :items="historyItems" :fields="historyFields" :per-page="historyPerPage" :current-page="historyCurrentPage" :filter="filter">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                        <!-- 訂單狀態欄 -->
                        <template #cell(orderStatus)="row">
                            <div>{{row.item.orderStatusName}}</div>
                        </template>
                        <!-- 功能欄 -->
                        <template #cell(Action)="row">
                            <b-button size="sm" class="mr-1" v-on:click="historyOrderInfo(row.item, row.index, $event.target)">訂單資訊</b-button>
                            <b-button size="sm" v-on:click="row.toggleDetails">{{row.detailShoing ? 'Hide' : ''}} 商品明細</b-button>
                        </template>
                        <!-- 商品明細 -->
                        <template #row-details="row">
                            <b-card class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6 title">是否要餐具:{{row.item.istableWares ? '要':'不要'}}</div>
                                    <div class="col-12 col-md-6 title">是否要塑膠袋:{{row.item.isPlasticbag ? '要':'不要'}}</div>
                                    <div class="col-12 title">備註:{{row.item.note}}</div>
                                    <div class="col-12 col-md-6 title">訂購餐點：</div>
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th>餐點名稱</th>
                                                <th>餐點數量</th>
                                                <th>客製化</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="product in row.item.orderDetailResponses">
                                                <td class="align-middle">{{product.productName}}</td>
                                                <td class="align-middle">{{product.quantity}}</td>
                                                <td v-if="!product.orderDetailOptionResponses" class="align-middle">無</td>
                                                <td v-else class="align-middle">
                                                    <div v-for="productDetail in product.orderDetailOptionResponses">
                                                        {{productDetail.productOptionDetailName}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </b-card>
                        </template>
                    </b-table>
                </b-card>
                <div class="form-group form-check d-flex justify-content-center mt-3">
                </div>
                @* 頁碼 *@
                <b-pagination v-model="historyCurrentPage" :total-rows="historyTotalRows" :per-page="historyPerPage" align="fill" size="md" class="my-0">
                </b-pagination>
            </b-tab>
        </b-tabs>
    </b-card>


    <!--Info modal -->
    <b-modal :id="infoModal.id" :title="infoModal.title" ok-only v-on:hide="resetInfoModal">
        <div class="d-flex">
            <h4 class="col-12 title ">訂單編號：{{orderList.orderId}}</h4>
        </div>
        <div class="d-flex ">
            <h4 class="col-12 title ">會員編號：{{orderList.memberId}}</h4>
        </div>
        <div class="d-flex ">
            <h4 class="col-12 title ">店家編號：{{orderList.storeId}}</h4>
        </div>
        <div class="d-flex ">
            <h4 class="col-12 title ">店家名稱：{{orderList.storeName}}</h4>
        </div>
        <div class="d-flex ">
            <h4 class="col-12 title ">訂單時間：{{orderList.createTime}}</h4>
        </div>
        <div class="d-flex ">
            <h4 class="col-12 title ">使用折扣：{{orderList.discountName}}</h4>
        </div>
        <div class="d-flex ">
            <h4 class="col-12 title ">訂單總額：{{orderList.orderPrice}}</h4>
        </div>
    </b-modal>
</div>

@section topJs{
    <script src="~/js/Common.js"></script>
    <script src="~/js/statecheck.js"></script>
    <script>
        if (localStorage.getItem('accessToken') == null) {
            window.location.href = '/login/index';
        }
    </script>
}

@section endJs{

    <script src="~/js/Controller/Order/order.js"></script>
}
