
@{
    ViewBag.Title = "FailModal";
}

<h2>FailModal</h2>

<!-- 提醒收信Modal -->
<div class="modal fade" id="failModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                新增帳號失敗,請重新註冊!
            </div>
            <div class="modal-footer">
                <button type="button" id="okBtn" class="btn btn-danger py-3 w-100" data-dismiss="modal" onclick="location.href = '@Url.Action("Register", "Member")';return false;">確定!</button>
            </div>
        </div>
    </div>
</div>


@section topJS
{
    <script>
        $(document).ready(function () {
            $("#failModal").modal("show");
        });
    </script>

}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
