@model StoreRegisterViewModel

@{
    ViewBag.Title = "RestaurantRegister";    
}


<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.MemberId)
        <div class="container storeRegisterContainer">


            @* 已經是店家者 *@
            @if (Model.IsOwner)
            {
                <div class="backgroundIMG position-relative hadRegisterBackgroungImg">
                    <div class="row hadRegister ">
                        <div class="IsOwner">
                            <div class="col">
                                <p>您已經成功註冊商店，請直接由後台系統登入</p>
                                <a class="loginShow btn btn btn-dark  w-100 mb-2" href="https://holyshong-backstage.azurewebsites.net/">後台系統</a>
                                <a class="loginShow btn btn btn-dark  w-100 mb-2" href="~/Home/Index">返回首頁開始點餐</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*有註冊，正在審核中*@
            else if (Model.IsVeryfying)
            {
                <div class="backgroundIMG position-relative hadRegisterBackgroungImg">
                    <div class="row hadRegister ">
                        <div class="IsVeryfying">
                            <div class="col">
                                <p>已收到您的店家註冊申請</p>
                                <p>請耐心等候3~5個工作天</p>
                                <p>HolyShong審查後會主動與您聯繫</p>
                                <a class="loginShow btn btn btn-dark  w-100 mb-2" onclick="location.href='@Url.Action("index", "Home")'">返回首頁開始點餐</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="backgroundIMG position-relative">
                    <div class="row storeRegisterRow ">
                        <!-- 說明欄 -->
                        <div class="illustrate col col-12 col-md-6 ">
                            <div class="illustrateDetail">
                                <h1>您現在可輕鬆接觸客群</h1>
                                <p>HolySong的全球系統提供您所需的彈性、能見度和顧客深入分析，讓您與更多顧客建立聯繫。立即成為合作夥伴</p>
                            </div>
                        </div>
                        <!-- 表單欄 -->
                        <div class="register col col-12 col-md-6 pt-0 pb-0">
                            <h2>開始使用</h2>
                            <label for="storeName"></label>
                            <input type="text" name="storeName" class="form-control" v-model="storeName" id="storeName" placeholder="餐廳名稱">
                            <div class="text-danger small mt-1">{{check.checkNameMsg}}</div>

                            <label for="Address"></label>
                            <input type="text" name="Address" class="form-control" v-model="storeAddress" id="Address" placeholder="餐廳地址">
                            <div class="text-danger small mt-1">{{check.checkAddressMsg}}</div>

                            <label for="PhoneNumber"></label>
                            <input type="number" name="PhoneNumber" class="form-control" v-model="sotrePhoneNumber" id="storePhone" placeholder="餐廳電話：0223456789">
                            <div class="text-danger small mt-1">{{check.checkNumberMsg}}</div>

                            <label for="StoreCategoryId"></label>
                            <input type="text" name="StoreCategoryId" class="form-control b-0 d-none" v-model="StoreCategoryId" id="StoreCategoryId" placeholder="">
                            <b-form-select class="" v-model="StoreCategoryId"  :options="options"></b-form-select>
                            <div class="text-danger small mt-1">{{check.checkStoreCategoryIdMsg}}</div>

                            <label for="KeyWord"></label>

                            <input type="text" name="KeyWord" class="form-control" v-model="storeKeyword" id="ownerEmail" placeholder="餐廳關鍵字，請以半形逗號分隔：日式料理,壽司,生魚片,丼飯">
                            <div class="text-danger small mt-1">{{check.checkKeywordMsg}}</div>

                            <div class="d-flex align-items-center">
                                <label class="btn btn-info btn-dark mt-3" v-on:click="uploadPhoto" for="Img">
                                    <i class="fa fa-photo"></i>上傳店家照片
                                </label>
                                <input type="text" v-model="storeImg" id="ImgForCloudnary" style="display: none;" name="Img">
                                <i v-show="storeImg !=''" class="fas fa-check text-success"></i>
                                <div class="text-danger small mt-1">{{check.checkImgMsg}}</div>
                            </div>
                            <p>
                                按一下「送出」即表示您同意
                                <a href="#">HolySong一般條款與細則</a> ，並確認您已閱讀
                                <a href="#">隱私政策</a>。
                            </p>

                            <button type="submit" :disabled="!isVerify" class="btn btn-success btn-block" id="submitBtn">送出</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    }

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

    <script>
        var cloud_url = 'https://api.cloudinary.com/v1_1/dvyxx4jau/image/upload';
        var cloud_upload_preset = 'di5kimai';
        let registerForm = new Vue({
            el: '.storeRegisterContainer',
            data: {
                isVerify: false,
                storeName: "",
                storeAddress: "",
                sotrePhoneNumber: "",
                storeImg: "",
                StoreCategoryId:'0',
                options: [
                    { value: '0', text: '請選擇餐廳分類' },
                    { value: '1', text: '健康飲食' },
                    { value: '2', text: '日本美食' },
                    { value: '3', text: '台灣美食' },
                    { value: '4', text: '韓國美食' },
                    { value: '5', text: '中式美食' },
                    { value: '6', text: '泰國美食' },
                    { value: '7', text: '美式料理' },
                    { value: '8', text: '義式料理' },
                    { value: '9', text: '墨西哥美食' },
                    { value: '10', text: '印度美食' },
                    { value: '11', text: '純素料理' },
                    { value: '12', text: '甜點' },
                    { value: '13', text: '飲料' },
                    { value: '14', text: '早午餐' },
                    { value: '15', text: '速食' },
                ],
                storeKeyword: "",
                check: {
                    checkNameError: false,
                    checkNameMsg: "",
                    checkAddressError: false,
                    checkAddressMsg: "",
                    checkNumberError: false,
                    checkNumberMsg: "",
                    checkImgError: false,
                    checkImgMsg: "",
                    checkKeywordError: false,
                    checkKeywordMsg: "",
                    checkStoreCategoryIdError: false,
                    checkStoreCategoryIdMsg: "",
                },
            },
            watch: {
                'storeName': {
                    immediate: true,//進入畫面立即檢查
                    handler() {
                        if (this.storeName == '') {
                            this.check.checkNameError = true;
                            this.check.checkNameMsg = '請輸入餐廳名稱';
                        }
                        else {
                            this.check.checkNameError = false;
                            this.check.checkNameMsg = '';
                        }
                        this.checkVerify();
                    }
                },
                'storeAddress': {
                    immediate: true,//進入畫面立即檢查
                    handler() {
                        if (this.storeAddress == '') {
                            this.check.checkAddressError = true;
                            this.check.checkAddressMsg = '請輸入餐廳地址';
                        }
                        else {
                            this.check.checkAddressError = false;
                            this.check.checkAddressMsg = '';
                        }
                        this.checkVerify();
                    }
                },
                'sotrePhoneNumber': {
                    immediate: true,//進入畫面立即檢查
                    handler() {
                        if (this.sotrePhoneNumber == '') {
                            this.check.checkNumberError = true;
                            this.check.checkNumberMsg = '請輸入餐廳電話';
                        }
                        else {
                            this.check.checkNumberError = false;
                            this.check.checkNumberMsg = '';
                        }
                        this.checkVerify();
                    }
                },
                'storeImg': {
                    immediate: true,//進入畫面立即檢查
                    handler() {
                        if (this.storeImg == '') {
                            this.check.checkImgError = true;
                            this.check.checkImgMsg = '請上傳餐廳照片';
                        }
                        else {
                            this.check.checkImgError = false;
                            this.check.checkImgMsg = '';
                        }
                        this.checkVerify();
                    }
                },
                'checkStoreCategoryId': {
                    immediate: true,
                    handler() {
                        if (this.checkStoreCategoryId == '0') {
                            this.check.checkStoreCategoryIdError = true;
                            this.check.checkStoreCategoryIdMsg = '請選擇餐廳分類'
                        }
                        else {
                            this.check.checkStoreCategoryIdError = false;
                            this.check.checkStoreCategoryIdMsg = ''
                        }
                        this.checkVerify();
                    }
                },
                'storeKeyword': {
                    immediate: true,//進入畫面立即檢查
                    handler() {
                        if (this.storeKeyword == '') {
                            this.check.checkKeywordError = true;
                            this.check.checkKeywordMsg = '請輸入餐廳名稱';
                        }
                        else {
                            this.check.checkKeywordError = false;
                            this.check.checkKeywordMsg = '';
                        }
                        this.checkVerify();
                    }
                },
            },
            methods: {
                uploadPhoto() {
                    let vm = registerForm;
                    let input = document.createElement('input')
                    input.type = 'file';
                    input.click()

                    input.onchange = function () {
                        var file = input.files[0];
                        var formData = new FormData();

                        formData.append('file', file);
                        formData.append('upload_preset', cloud_upload_preset);

                        axios({
                            url: cloud_url,
                            method: 'POST',
                            Headers: {
                                'Content-Type': 'multipart/form-data'
                            },
                            data: formData
                        }).then(function (res) {
                            console.log(res);
                            vm.storeImg = res.data.secure_url

                        }).catch(function (err) {
                            console.error(err);

                        });
                    }
                },
                checkVerify() {
                    for (let prop in this.check) {
                        if (this.check[prop] == true) {
                            this.isVerify = false;
                            return;
                        }
                    }
                    this.isVerify = true;
                },
            },
        });
    </script>
</body>
@section topCSS{
    <style>
        footer{
            margin-top:0;
        }
        /*註冊*/
        /* 整版大小 */
        .storeRegisterContainer {
            max-width: 1980px;
            margin: 0;
            margin-top:8vh;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }

        .storeRegisterRow {
            margin: 0;
            position: relative;
        }
        /* 說明欄 */

        .illustrate {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .hadRegister {
            position: relative;
            margin: 0;
        }



        /* 表單欄 */

        .register {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }

            .register h2 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .register .firstNameDiv {
                padding-right: 0;
                padding-bottom: 0;
            }

            .register .secondNameDiv {
                padding-left: 0;
                padding-bottom: 0;
            }

        p a {
            color: green;
        }

        #submitBtn {
            margin-top: 10px;
            margin-bottom: 10px;
        }


        /*註冊RWD*/
        /* 背景圖設定 */
        @@media screen and (min-width:768px) {
            .backgroundIMG {
                background-image: url(../../Assets/Images/register.jpg);
                background-size: cover;
                height: calc(85vh - 133.975px);
            }

            .register {
                background-color: white;
                padding: 20px;
            }

            .storeRegisterRow {
                padding-left: 5%;
                padding-right: 5%;
            }

                .storeRegisterRow .illustrate {
                    display: flex;
                }

            .illustrateDetail {
                margin-top: auto;
                margin-bottom: auto;
                color: white;
            }
            /*已經是店家*/
        }

        @@media screen and (min-width:992px){
            .storeRegisterContainer{
                margin-top:0px;
            }
        }
        .IsOwner {
            background-color: white;
            margin: auto;
        }

        .IsVeryfying {
            background-color: white;
            margin: auto;
            text-align: center;
        }

        .hadRegisterBackgroungImg {
            height: 57.5vh;
        }

        .hadRegister {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    </style>
}
@section topJS{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
