<div id="ToEatPass">

    <div class="d-flex bd-highlight align-items-center">

        <div class="bd-highlight ">
            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/c51b2a12396d63d49b5272de6efa283d.svg">
        </div>

        <div class=" flex-fill bd-highlight text-center ">
            <p>立即成為 HolyShong 送送會員，即可享不限次數 $0 外送費</p>
            <div id="btn-wrap" class="d-flex " style="">
                <button type="button" class="btn btn-dark rounded-pill" style="width: 120px;height: 40px;font-size: 18px;" onclick=" location.href='@Url.Action("Eatpass", "Member")'">
                    詳細資訊<i class="fas fa-arrow-right "></i>
                </button>
            </div>
        </div>
    </div>
</div>