.storeModalContent {
    border: none;
  }

  .storeModalBody {
    padding: 0;
  }

  .imgAndClose {
    position: relative;

  }

  .imgAndClosePic {
    width: 100%;
    height: 200px;
  }

  .imgAndClosePic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imgAndClose .fa-times-circle {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
  }

  .addGroup {
    display: flex;
    text-align: center;
  }

  .quantityAddWrap {
    justify-content: center;
  }

  .selectedBgc {
    background: rgb(246, 246, 246);
  }

  .addItemBgC {
    padding: 10px 0;
  }

  .addItemBgC i {
    padding: 0 15px;
  }

  .addToCart {
    text-align: center;
  }

  .price {
    text-align: right;
  }

  .cardWrap input {
    border: none;
    padding: 24px;
  }

  .input {
    width: 100%;
  }

  .cardWrap {
    height: 500px;

  }

  .billTxt {
    background: rgb(246, 246, 246);
  }

  .billTxt p {
    padding: 10px;
  }

  .scroll {
    overflow: auto;
    height: 500px;
    display: block;
  }

  .addGroup {
    display: flex;
  }

  .quantityAddWrap {
    justify-content: space-between;
    margin: auto;
  }

  .addToCartWrap button {
    margin: 10px;
  }

  /* 桌機 */
  @media screen and (min-width: 992px) {
    .card img {
      width: 88px;
      height: 120px;
    }

    .addGroup {
      display: flex;
      text-align: center;
    }

    .quantityAddWrap {
      justify-content: center;
    }

    .storeModalBody {
      display: flex;
      width: 100%;
    }

    .imgAndClose {
      width: 50%;
    }

    .imgAndClosePic img {
      height: 500px;
    }

    .cardWrap {
      width: 50%;
    }
  }